<!-- templates/index.html -->
{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Site Message</h5>
                    <p class="card-text">{{ message }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Random tile</h5>
                    <p class="card-text">{{ randomness }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">App IP Address</h5>
                    <p class="card-text">{{ ip }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compute Hostname</h5>
                    <p class="card-text">{{ hostname }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
